* , ::after , ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: rgb(0, 120, 255) ;
}

/* Nav-bar */
.selected {
    position: relative;
  }
  .selected::after {
    content: " ";
    width: 75%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 8px;
  }
  .my-border {
    position: relative;
    overflow: hidden;
  }
  .my-border::after {
    content: " ";
    width: 90%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: all 0.5s;
  }
  .my-border:hover:after {
    left: 0;
  }

/* Header */
#header{
    height: 100vh;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.bg-layer{
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}
h1{
    font-size: 4.5rem;
}

/* About */
.about-me-head{
position: relative;
width: fit-content;
padding-bottom: 10px;
}
.about-me-head::after{
content: '';
width: 80%;
height: 4px;
background-color: var(--main-color);
position: absolute;
bottom: 0;
left: 0;
}


.about .des-html div {
    width: 100%;
    height: 10px;
    background-color: #cde1f8;
    position: relative;
    margin-bottom: 0.7rem;
  }
  .about .des-html div::after {
    content: " ";
    width: 85%;
    height: 10px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
  }
  .about .des-css div {
    width: 100%;
    height: 10px;
    background-color: #cde1f8;
    position: relative;
    margin-bottom: 0.7rem;
  }
  .about .des-css div::after {
    content: " ";
    width: 75%;
    height: 10px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
  }
  .about .des-php div {
    width: 100%;
    height: 10px;
    background-color: #cde1f8;
    position: relative;
    margin-bottom: 0.7rem;
  }
  .about .des-php div::after {
    content: " ";
    width: 50%;
    height: 10px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
  }
  .about .des-js div {
    width: 100%;
    height: 10px;
    background-color: #cde1f8;
    position: relative;
  }
  .about .des-js div::after {
    content: " ";
    width: 90%;
    height: 10px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
  }

/* Services */
.title{
    position: relative;
}
.title::after{
    content: "";
    width: 4rem;
    height: 0.3rem;
    background-color: var(--main-color);
    position: absolute;
    bottom: -1rem;
    left: 50%;
    translate: -50%;
}
.service-ico i{
    outline: 10px solid var(--main-color);
}
.service-ico:hover i{
 color: white;
 background-color: var(--main-color);
 outline-color: rgba(0, 120, 255, .3);
}

/* counter section */

.counter{
    background-image: linear-gradient(#0077ff84, #0077ff84) ,
     url(../images/counters-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.border-info i{
    border: 0.5rem solid #cde1f8;
    border-radius: 50%;
    padding: 1.5rem;
}

/* portfolio section */
.portfolio-card img{
    transition: transform .5s;
}
.portfolio-card i{
    color: var(--main-color);
    padding: 0.5rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
}
.portfolio-card a{
    margin-left: -1.5rem;
}
.portfolio-card:hover img{
    transform: scale(1.5);
}

/* slider section */

#testimonials , #contact{
    background-image: linear-gradient(#0077ff84, #0077ff84) ,
    url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.client-feedback img{
    width: 15%;
}

/* blog-sec */
.owner img{
    width: 15%;
}

/* contact-sec */
 .icons i {
    font-size: 1.5rem;
    padding: 0.6rem;
    margin: 0.5rem;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
    transition: all 1s;
  }
   .icons i:hover{
    border: white 0.2rem solid;
    background-color: var(--main-color);
    color: white;
   }

/* footer */
footer{
    background-color: #0062D3;
}